*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common thing */
.common-text{
    color: #8987A1;
    font-family: 400;
}
.plant-text span{
    color: #E95A08;
}
/* header section style */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px;
}
.navigation img{
    width: 80px;
    height: 60px;
}
.navigation ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.navigation a{
    text-decoration: none;
    color: black;   
}
.fa-classic{
    margin-right: 5px;
}
/* header image section */
.header img{
    width: 100%;
    height: 545px;
}
/* body our plants section style */
.our-plant{
    margin: 40px 100px;
}
.plant-text{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 30px;
}
.card{
    text-align: center;  
    /* border: 2px solid black; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;   
}
.card img{
    width: 100%;
}
.btn{
    width: 100%;
    padding: 10px;  
    background-color: #E95A08;
    color: white;
}
/* plant lover section style */
.plant-lover{
    display: flex;
    align-items: center;
    gap: 70px;
    max-width: 1175px;
    margin: 70px auto;
}
.lover-img img{
    width: 440px;
    height: 450px;
}
.lover-description h1{
    font-size: 3.1rem;
}
.lover-description ul{
    margin-left: 30px;
    margin-right: 80px;
    margin-top: 20px;
}
.lover-description ul li{
    padding: 10px 0;
    font: 1.3rem;
    line-height: auto;
}
/* deal section style */
.deal{
    max-width: 1180px;
    margin: 90px auto;
}
.deal-img-container{
    display: flex;
    gap: 17px;
}
.deat-description{
    text-align: center;
    padding: 30px 0;
}
.box-1{
    background-image: url("assets/deal-bloom.png");
    width: 360px;
    height: 200px;
    position: relative;
    margin-bottom: 17px;
}
.box-1 h3, button{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
}
.box-1 button{
    margin-top: 10px;
    margin-left: 55px;
    padding: 5px;
    background-color: white;
    color: black;
}
.box-2{
    background-image: url("assets/deal-ana.png");
    width: 360px;
    height: 200px;
    position: relative;
}
.box-2 h3, button{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
}
.box-2 button{
    margin-top: 10px;
    margin-left: 55px;
    padding: 5px;
    background-color: white;
    color: black;
}
.box-3{
    background-image: url("assets/deal-zabo.png");
    width: 750px;
    height: 418px;
    position: relative;
}
.box-3 h1, button{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
}
.box-3 button{
    margin-top: 40px;
    margin-left: 110px;
    padding: 5px;
    background-color: white;
    color: black;
}
/* responsive for mobile device */

/* responsive navigation section */
@media (max-width: 640px) {
    .display{
        display: none;
    }
    .navigation{
        margin: 30px 50px;
    }
    .fa-classic{
        display: inline;
    }
    /* card section responsive */
    .card-container{   
    grid-template-columns: repeat(2, 1fr);
    margin: 15px 20px;  
    }
    .our-plant{
    margin: 40px 0px;
}
/* plant lover section responsive */
.plant-lover{
    flex-direction: column;
}
.lover-img img{
    width: 440px;
    height: 450px;
}
.lover-img img{
    width: 420px;
    height: 430px;
}
/* deal container responsive */
.deal-img-container{
    flex-direction: column-reverse;   
}   
.box-3{
    width: 100%;   
}
.box-2{
    width: 100%;
}
.box-1{
    width: 100%;
}
.deal-img-container{
    gap: 17px;
}

}