*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common thing */
.common-text{
    color: #8987A1;
    font-family: 400;
}
.plant-text span{
    color: #E95A08;
}
/* header section style */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px;
}
.navigation img{
    width: 80px;
    height: 60px;
}
.navigation ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.navigation a{
    text-decoration: none;
    color: black;   
}
.fa-classic{
    margin-right: 5px;
}
/* header image section */
.header img{
    width: 100%;
    height: 545px;
}
/* body our plants section style */
.our-plant{
    margin: 40px 100px;
}
.plant-text{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 30px;
}
.card{
    text-align: center;  
    /* border: 2px solid black; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;   
}
.card img{
    width: 100%;
}
.btn{
    display: inline-block;
    width: 100%;
    height: 35px;
    background-color: #E95A08;
    color: white;
}
/* responsive for mobile device */

/* responsive navigation section */
@media (max-width: 640px) {
    .display{
        display: none;
    }
    .navigation{
        margin: 30px 50px;
    }
    .fa-classic{
        display: inline;
    }
    /* card section responsive */
    .card-container{   
    grid-template-columns: repeat(2, 1fr);
    margin: 15px 20px;  
    }
    .our-plant{
    margin: 40px 0px;

}
}